.tb{
    text-align: center;
    border: 2px;
}
h2{
    color: chocolate;
}
h1{
    color: rgb(149, 43, 219);
    border-radius: 12%;
    text-align:center ;
    background-color: aqua;
    
}
.sk{
    background-color: rgb(142, 89, 122);
}